.character-card {
  display: inline-block;
  margin: 10px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 200px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
}

.card-header {
  background-color: #f8f8f8;
  padding: 10px;
}

.card-image {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 10px;
}
